<div class="row">
    <div class="col col-md-4">
        Survey Name
    </div>
    <div class="col col-md-4">
        Created On
    </div>
    <div class="col col-md-4">
        Action
    </div>
</div>
<div class="row" ng-repeat="data in survey">
    <input type="hidden" value="data.survey_id" name="survey_id"/>
    <div class="col col-md-4">
        {{data.survey_name}}
    </div>
    <div class="col col-md-4">
        {{data.created_on}}
    </div>
    <div class="col col-md-4">
        <input type="button" value="View" ng-click="viewSurvey()"/>
        <input type="button" value="Edit" ng-click="editSurvey()"/>
        <input type="button" value="Delete" ng-click="deleteSurvey()"/>
    </div>
</div>